# Reading data

- Reading Stata
- Reading Excel
- Reading SAS
- Reading SPSS


# Joining data

- joins
- append


# Pivoting data (long-wide)

- Creating dummies

In [5]:
library(readr)
library(tidyr)
reg_data <- read_csv("https://github.com/CALDISS-AAU/workshop_r-table-data/raw/master/data/bef_dream_2015.csv")

Warning message:
"package 'tidyr' was built under R version 3.6.2"Parsed with column specification:
cols(
  .default = col_double(),
  PNR = col_character(),
  FOED_DAG = col_character()
)
See spec(...) for full column specifications.

In [4]:
head(reg_data)

  PNR      KOEN FOED_DAG  br_2010_01 br_2010_02 br_2010_03 br_2010_04
1 00005532 2    23may1942     NA         NA         NA         NA
2 00005562 2    28jun1971     NA         NA         NA         NA
3 00007589 1    21jan1955 110200     852010     851000     741010
4 00009287 1    29aug1968     NA         NA         NA         NA
5 00014523 1    08nov1957 881030         NA     853110     869020
6 00017543 1    24jun1952 869010     105100     889140         NA
  br_2010_05 br_2010_06 br_2010_07 ... br_2015_03 br_2015_04 br_2015_05
1     NA         NA         NA     ...     NA         NA         NA
2     NA         NA         NA     ...     NA         NA         NA
3 422200     862100     889920     ... 463500     910200     429900
4     NA         NA         NA     ...     NA         NA         NA
5 852010     871020     873010     ... 522300     431100     873020
6     NA     910110     464700     ... 881010     854200     581410
  br_2015_06 br_2015_07 br_2015_08 br_2015_09 br_2015_10 br_2015_11 br_2015_12
1     NA         NA         NA         NA         NA         NA         NA
2     NA         NA         NA         NA         NA         NA         NA
3 581200      62000         NA     464100     390000     855300     771100
4     NA         NA         NA         NA         NA         NA         NA
5 856000         NA     931100     471130     856000     881020     461710
6 522990     471120     421300     841100         NA     851000     855200

In [6]:
reg_data_long <- reg_data %>%
    pivot_longer(cols = starts_with("br_"), names_to = "month_year", values_to = "branche")

In [8]:
head(drop_na(reg_data_long))

  PNR      KOEN FOED_DAG  month_year branche
1 00007589 1    21jan1955 br_2010_01 110200
2 00007589 1    21jan1955 br_2010_02 852010
3 00007589 1    21jan1955 br_2010_03 851000
4 00007589 1    21jan1955 br_2010_04 741010
5 00007589 1    21jan1955 br_2010_05 422200
6 00007589 1    21jan1955 br_2010_06 862100